@use 'font' as *;
@use 'var' as *;
body {
    font-family: $font;
    font-weight: 400;
    background-color: #1f2023;
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 71px;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 98%;
        height: 27px;
        position: absolute;
        background-color: $accent;
        top: 0;
        left: 10px;
        z-index: -1;
    }
    &_logo {
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 10px 0 0 0;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            background-image: url(../images/svg/header_bottom_left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: -24px;
    }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/svg/header_left.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: -68px;
        }
    }
    &_link {
        color: $light;
        font-size: 20px;
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        position: relative;
        &::before {
        content: '';
        display: block;
        width: 26px;
        height: 24px;
        background-image: url(../images/svg/header_bottom_right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: -24px;
    }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/svg/header_right.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: -67px;
        }
    }
}

.container {
    width: 100%;
    max-width: 1830px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.banner {
    display: flex;
    background-image: url(../images/bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}